<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presaber">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="PreSaber"
        android:icon="@mipmap/ic_logo"
        android:roundIcon="@mipmap/ic_logo_round"
        android:theme="@style/Theme.Presaber">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >

            <!-- LAUNCHER -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 🔗 DEEP LINK PERSONALIZADO -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="presaber"
                    android:host="sala" />
            </intent-filter>

        </activity>

    </application>

</manifest>